/target
/diamond_city_radio

stations/*.mp3
stations/*.wav
stations/*.ogg
stations/*.opus
stations/*.jpg
stations/*.png
stations/*.json

!stations/RadioZero/*.mp3
!stations/RadioZero/*.jpg
!stations/RadioZero/*.json