* {
  box-sizing: border-box;
  margin: 0px;
}

html,
body {
  background: linear-gradient(135deg, #1a1a1a, #333);
  width: 100lvw;
  height: 100lvh;
  overflow: hidden;
  font-family: Consolas, monospace;
  user-select: none;
}

.screen {
  --color-0: #00ff00;
  --color-100: #00bb00;
  --color-200: #008800;
  --color-300: #005500;
  --color-bg: #212121;
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background: var(--color-bg);
  padding: 32px;
  aspect-ratio: 4 / 3;
  height: 480px;
  color: var(--color-0);
  font-size: 24px;
}

.screen nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  box-shadow: 0 2px 0 var(--color-0);
  padding: 0px 64px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  &::before {
    display: inline-block;
    position: absolute;
    bottom: -8px;
    left: 0px;
    box-shadow: -2px 0 0 var(--color-0), 2px 0 0 var(--color-0);
    width: 100%;
    height: 8px;
    content: "";
  }
}

.screen nav>span {
  padding: 0px 16px;
  color: var(--color-200);
  text-align: center;
}

.screen nav .active {
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 0 var(--color-bg);
  color: var(--color-0);

  &::before {
    display: inline-block;
    position: absolute;
    top: calc(50% + 2px);
    left: 0px;
    z-index: -1;
    border-top: 2px solid var(--color-0);
    border-left: 2px solid var(--color-0);
    background: var(--color-bg);
    width: 12px;
    height: 12px;
    content: "";
  }

  &::after {
    display: inline-block;
    position: absolute;
    top: calc(50% + 2px);
    right: 0px;
    z-index: -1;
    border-top: 2px solid var(--color-0);
    border-right: 2px solid var(--color-0);
    background: var(--color-bg);
    width: 12px;
    height: 12px;
    content: "";
  }
}

.screen .station-list {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 360px;
  font-size: 18px;
  list-style: none;

  & li {
    cursor: pointer;
    padding: 2px 24px;
  }

  & li.active {
    position: relative;

    &::before {
      position: absolute;
      top: calc(50% - 4px);
      left: 8px;
      background: var(--color-bg);
      width: 8px;
      height: 8px;
      content: "";
    }
  }

  & li.active,
  & li:hover {
    background-color: var(--color-0);
    color: var(--color-bg);
  }

  & li[aria-disabled] {
    pointer-events: none;
    color: var(--color-200);
  }
}

.screen .inventory-list {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 360px;
  font-size: 18px;
  list-style: none;

  & li {
    cursor: pointer;
    padding: 2px 24px;
  }

  & li.active {
    position: relative;

    &::before {
      position: absolute;
      top: calc(50% - 4px);
      left: 8px;
      background: var(--color-bg);
      width: 8px;
      height: 8px;
      content: "";
    }
  }

  & li.active,
  & li:hover {
    background-color: var(--color-0);
    color: var(--color-bg);
  }

  & li[aria-disabled] {
    pointer-events: none;
    color: var(--color-200);
  }
}

.screen #wave-canvas {
  position: absolute;
  top: 110px;
  right: 40px;
  border-right: 2px solid var(--color-300);
  border-bottom: 2px solid var(--color-300);
  image-rendering: pixelated;
  width: 150px;
  height: 150px;
}

.screen footer {
  position: absolute;
  bottom: 32px;
  background: var(--color-300);
  width: calc(100% - 64px);
  height: 32px;
}

.tab-content {
  position: absolute;
  top: 100px;
  left: 32px;
  right: 32px;
  bottom: 64px;
  overflow: auto;
}

audio {
  display: none;
}

#stat-tab {
  display: none;
  align-items: center;
  justify-content: center;
}

#stat-tab.active {
  display: flex;
}

.stat-img {
  width: 300px;
  max-width: 100%;
  max-height: 100%;
}

.map-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-container img {
  width: 100%;
  height: auto;
  cursor: grab;
  touch-action: none;
}
